html,body {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	
	background-color: #CCB3F6;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 80%;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.container-search{
	display: flex;
}
.wrapper-search{
	display: flex;
	align-items: center;
	background-color: #fff;
	padding:0 5px;
	border-radius: 4px 0 0 4px;
}
.wrapper-search i{
	color:red;
}

.header input {
	width: 250px;
	height: 40px;
	border-radius: 0 4px 4px 0;
	border: none;
}

.menu ul {
	display: flex;
	list-style-type: none;
	padding-right: 100px;
}

.menu li {
	padding-right: 20px;
	font-size: 18px;
	font-weight: 700;
	color: white;
}

.icone-menu {
	display: none;
}


@media (max-width: 1000px) {

	.menu ul {
		padding-right: 5px;
	}
}

@media (max-width: 920px) {

	.menu li {
		display: none;
	}

	.menu li.icone-menu {
		display: inline-block;
		color: white;
	}

	.header input {
		display: none;
	}
	.container .search{
		display: none;
	}

}